//
// Icon button
//


// Icons

.btn svg:not(:first-child),
.btn i:not(:first-child) {
    margin-left: .5rem;
}

.btn svg:not(:last-child),
.btn i:not(:last-child) {
    margin-right: .5rem;
}


// Icons

.btn-icon {
    .btn-inner--text:not(:first-child) {
        margin-left: .75em;
    }
    .btn-inner--text:not(:last-child) {
        margin-right: .75em;
    }

    svg {
        path {
            fill: inherit;
        }
    }
    &:hover {
        svg {
            path {
                fill: white !important;
            }
        }       
    }
}


// Icon only buttons (no text)

.btn-icon-only {
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0;

    &.btn-xs {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }


    &.btn-sm {
        width: 2.4375rem;
        height: 2.4375rem;
        line-height: 2.4375rem;
    }

    &.btn-lg {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }
}
