//
// Payment methods page styles
//

.some-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.payment-methods-group {
    align-items: center;
    background: none;
}

.payment-methods-groups__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .payment-methods-groups__body {
        flex-direction: column;
    }
}

.payment-methods-group__card-image {
    margin: 0 8px;
}

.payment-methods-group__card-image--opacity, .payment-methods-group__checkbox-field--disabled {
    opacity: .5;
}

.custom-control-label {
    &.has-image {
        display: inline-flex;
        user-select: none;
    }
}

.recommendation-payment-methods-card__title {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: inherit;
    align-items: center;

    svg {
        width: auto;
        height: 18px;
        margin: 10px 18px 10px 0;
    }
}

.recommendation-group {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    flex-wrap: wrap;
    align-content: space-between;

    .payment-method-group {
        flex-wrap: wrap;
        align-items: start;

        &:first-child {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .recommendation-group {
        width: auto;
    }
}

@keyframes placeholderAnimation {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.text-md-loading-placeholder {
    background: rgba(153, 153, 153, 0.1);
    border-radius: 4px;
    min-height: 1.7rem;
    line-height: 1.8;
    width: auto;
}

.placeholder--loading {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba(101, 104, 104, 0.1) 8%, rgba(101, 104, 104, 0.2) 18%, rgba(101, 104, 104, 0.1) 33%);
    background-size: 1260px 170px;
}
